@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  overflow-x: hidden;
  width: 100%;
}

/* Hero section bg */
.Hero-white-bg {
  background: url(/public/Home-page/Home-Hero/Hero_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 57%;
  height: 100vh;
}
@media (max-width: 900px) {
  .Hero-white-bg {
    display: none;
  }
}
/*End of Hero section bg */

/* steps bg */
.steps {
  background: url(/public/Home-page/steps/stepsBg.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 100%;
}

/* SERVICE */
.greenBG {
  background: url(/public/service-page/software/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7rem 0 5rem 0;
  width: 100%;
}
.shadow{
  box-shadow: 0 0 5px gray;
}
